{% load static %}
<html>
    <head>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
	{% if user.is_authenticated %}
	    
		<a href="/accounts/logout/" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
		<span>Welcome Back {{request.user.email}}</span>
		
		
		<a href="{% url 'basic_app:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		<a href="{% url 'basic_app:post_draft_list' %}" class="top-menu">drafts</a>
		<a href="{% url 'basic_app:myposts_list' %}" class="top-menu">My Piblished Posts</a>
	{%else%}
	    <a href="/accounts/login/" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
		<a href="/register/" class="top-menu">Register</a>
	{%endif%}
        <h1><a href="/">Karim's Blog</a></h1>
		
		
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block body_block %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>