{% load static %}
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">

		<div class="container">
		   <div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" id="bigbrand" href="/">Karim's Blog</a>
		   </div>

		   <div class="collapse navbar-collapse" id="navbar">



			  <ul class="nav navbar-nav navbar-right" id="topNav">
				 {% if user.is_authenticated %}
				 <li><a href="{% url 'basic_app:post_new' %}"><span class="glyphicon glyphicon-plus"></span> New Post</a></li>
				 <li><a href="{% url 'basic_app:post_draft_list' %}"><span class="glyphicon glyphicon-plus"></span> Draft</a></li>
				 <li><a href="{% url 'basic_app:myposts_list' %}"><span class="glyphicon glyphicon-plus"></span> My Post</a></li>
				 <li><a href="{% url 'basic_app:profilepage' pk=request.user.userprofileinfo.pk %}">Welcome <span class="glyphicon glyphicon-user">{{request.user}}</span></a></li>

				 <li class="dropdown">
				  {% if user.userprofileinfo.profile_pic %}
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{user.userprofileinfo.profile_pic.url}}" class="img-circle"  width="30" height="30" onerror="this.src='http://s3.amazonaws.com/37assets/svn/765-default-avatar.png'"> <span class="caret"></span></a>
				  {% else %}
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="" class="img-circle"  width="30" height="30" onerror="this.src='http://s3.amazonaws.com/37assets/svn/765-default-avatar.png'"> <span class="caret"></span></a>
				  {% endif %}
				  <ul class="dropdown-menu">
					<li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>

				  </ul>
				</li>


				 {%else%}

				 <li><a href="/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				 <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				 {%endif%}
			   </ul>
		   </div>
		   <!--/.nav-collapse -->
		</div>
	 </nav>
	 <div class="container">

            <div class="row">

               <div class="col-lg-1"></div>

               <div class="col-lg-9 justify-content-center">
                   {% include 'basic_app/flashmessages.html' %}
                  {% block body_block %}
                  {% endblock %}
               </div>
               <div class="col-lg-3"></div>
            </div>


	 </div>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="{% static 'js/myjs.js' %}"></script>
   </body>
</html>
