{% extends 'basic_app/base.html' %}

{% block body_block %}
<title>All Posts</title>

         {% for post in posts %}
         <div class="post">


            <h2><a href="{% url 'basic_app:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <div>
                {% if post.author.userprofileinfo.profile_pic %}
               <em>Posted by: <img src="{{post.author.userprofileinfo.profile_pic.url}}" class="img-circle"  width="30" height="30" ></em>
               {% else %}
               <em>Posted by: <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="img-circle"  width="30" height="30" ></em>
               {% endif %}
               <a href="{% url 'basic_app:profilepage' pk=post.author.userprofileinfo.pk %}">{{ post.author }}</a>
               <span class="glyphicon glyphicon-time"></span> <em>{{ post.published_date|date:'d-m-Y' }}</em>
            </div>

            <br>
            <p>{{ post.text|truncatechars:200 }}</p>

            <div class="likebuttons">
              <a  class="btn btn-success" href="{% url 'basic_app:like' pk=post.pk %}"><span class="glyphicon glyphicon-thumbs-up"></span> {{post.upvote.count}}</a>
			  <a  class="btn btn-danger" href="{% url 'basic_app:dislike' pk=post.pk %}"><span class="glyphicon glyphicon-thumbs-down"></span> {{post.downvote.count}}</a>
              <a class="btn btn-info" href="{% url 'basic_app:post_detail' pk=post.pk %}"><span class="glyphicon glyphicon glyphicon-comment"></span> {{ post.approved_comments.count }}</a>
            </div>

            <div class="postupdatebuttons">
              {%if user.is_authenticated and post.author == request.user %}
              <a class="btn btn-default" href="{% url 'basic_app:post_edit' pk=post.pk %}" class="navbar-link"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-danger" href="{% url 'basic_app:post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
              {%endif%}
            </div>
         </div>
         <hr>
         {% endfor %}


{%endblock%}
