body{font-size: 16px;
     margin-top: 70px;
}


p {font-family: 'Jua';}
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}


.post {
    margin-bottom: 30px;
}


.comments {
    margin-bottom: 50px;
}

hr {
    border-top: 1px solid #191717;
}

#bigbrand{
  font-size: 2.5em;

  font-family: 'Lobster', cursive;
}

#topNav{
  font-size: 1.5em;

  font-family: 'Jua'
}

.navbar-inverse .navbar-brand{color:white;}

.navbar-inverse .navbar-nav>li>a{color:white;}

.navbar-inverse{background:#2c3e50;}

.loginbox{

                margin-top:10%;
                background: #3fc8dc;

                text-align:center;
                padding-bottom:2%;
               border-color: #000;
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    line-height: 10px;

   border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 8px;


}


#errormessages{
background:yellow;
color:red;}


.likebuttons{
    padding-top:5px;
}

.profileList{
    float:left;
}

.postupdatebuttons{
    float:left;
}



#comment_form{
display:none;
}

.comment-form-main{
margin-bottom:15px;
}


.btn{

  border: none;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.form-control {



    padding: 10px 20px;
    border-radius: 16px;

}

#registration {
   padding: 8px 100px;
}


.navbar {
   border-color: #000;
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    line-height: 10px;

   border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 8px;


}

.navbar-inverse {
    background-color: #3fc8dc;
}
